html, body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 100%;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);	
}

#the_body {
	background:white;
}

#title_down {
	text-transform: uppercase;
	font-size: 16px;
	padding-left: 50px;
	letter-spacing: -1px;
	font-weight: 600;
}

#yt_img_top {
	width: 40px; 
	float: right; 
	margin: -10px 0 0 0;
}

#big_icon {
	height: 80px; 
}

.wishlist {
	width: 220px; 
}

#yt_img_bottom {
	width: 40px; 
	float: left; 
	margin: -10px 10px 0 0;
}

#yt_img_menu {
	width: 40px; 
}

#yttrailer {
	width: 800px; 
	height: 500px;
}

#yttrailer_out {
	width: 50%; 
	margin: 0 auto;
}

#navmenu {
	width: 150px;
	height: 140px;
	padding: 10px;
	position: absolute;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	right:-200px;
	top: 95px;
	background: #0570ad;
	display: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 0px;
}

#navmenu a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding-right: 3px;
	font-family: arial;
	padding-bottom: 3px;
	line-height: 34px;
	background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.35s;
	text-decoration: none;
}
#navmenu a:hover {
	background-size: 100% 3px;
}

#hamburgermenu {
	position: absolute;
	cursor: pointer;
	right:20px;
	top: 25px;
	display: none;
}

ul {
	font-size: 100%;
	list-style-type: disc;
}

h1 {
	text-transform: uppercase;
	font-size: 40px;
	margin: 0px;
	margin-top: -10px;
	padding-left: 0px;
	letter-spacing: -3px;
	font-weight: normal;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: -2px;
	margin: 0px;
	font-weight: normal;
}

h3 {
	text-transform: uppercase;
	font-size: 22px;
	margin: 0px;
	margin-top: -10px;
	letter-spacing: -2px;
	font-weight: 600;
}

.info {
	float: left;
	clear: both;
	padding-left: 50px;
}

.row {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}

.navy {
	color: #03330f;
}

.pictures, .videos {
	text-align: left;
	background: white;
	padding-top: 30px;
	height: auto;
}

.videos {
	background: #efefef;
}

p {
	margin:0px;
}

.main {
	background: #efefef;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.full {
	width: 100%;
}

.ref0 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	background: white url('../images/ref00.jpg') center;
	background-size: cover;
	float: left;
	clear: left;
	cursor: pointer;
}

.ref1 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	background: white url('../images/ref01.jpg') center;
	background-size: cover;
	float: left;
	cursor: pointer;
}

.ref2 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	margin-top: 2px;
	background: white url('../images/ref02.jpg') center;
	background-size: cover;
	float: left;
	clear: left;
	cursor: pointer;
}

.ref3 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	margin-top: 2px;
	background: white url('../images/ref03.jpg') center;
	background-size: cover;
	float: left;
	cursor: pointer;
}

.ref4 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	margin-top: 2px;
	background: white url('../images/ref04.jpg') center;
	background-size: cover;
	float: left;
	cursor: pointer;
}

.ref5 {
	width: 49.8%;
	height: 350px;
	margin-left: 2px;
	margin-top: 2px;
	background: white url('../images/ref05.jpg') center;
	background-size: cover;
	float: left;
	cursor: pointer;
}

.contact {
	width: 100%;
	height: 210px;
	background: linear-gradient(#05aaf8, #0570ad);
	color: white;
	clear: both;
	padding-top: 30px;
}

.contact a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	padding-bottom: 4px;
	background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.35s;
	text-decoration: none;
}

.contact a:hover {
	background-size: 100% 3px;
}

.contact span {
	width: 70px;
	color: #539ae9;
	display: inline-block;
	text-transform: uppercase;
}

.arrow {
	font-size:36px;
	position: absolute;
}

.arrow:hover {
	cursor: pointer;
	opacity: 0.5;
}

.arrow_to_left {
	left: -4vw;
	top: 35px;
}

.arrow_to_right {
	left: 83vw;
	top: 35px;
}

.arrow_to_right_up {
	left: 85vw;
}

.about {
	width: 100%;
	height: auto;
	margin-top: 0px;
	background-color: #efefef;
	color: black;
	padding-top: 30px;
	clear: both;
}

.social {
	width: 100%;
	height: 82px;
	background-color: #ffffff;
	color: black;
	padding-bottom: 2px;
	padding-top: 2px;
	clear: left;
}

.logos {
	width: 100%;
	height: auto;
	margin-top: 0px;
	background-color: #f1f6fe;
	color: black;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}

.logo_img {
	border: 0px;
	margin: 0px;
	padding: 0px;
	max-width: 7vw;
}

.logo_img2 {
	border: 0px;
	margin: 0px;
	padding: 0px;
	max-width: 15vw;
}

.logo_imgs {
	text-align: center;
	margin-top: -30px;
}

.head {
	background: linear-gradient(#05aaf8, #0570ad);
	width: 100%;
	height: 126px;
}	

#head_logo {
	width: 50%;
	height: 80px;
	float: left;
	color: white;
	padding-top: 50px;
}	

#head_menu {
	width: 45%;
	top: 50px;
	position: relative;
	float: left;
	padding-top: 4px;
	text-align: right;
}	

#head_menu a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	padding-right: 3px;
	font-family: arial;
	font-weight: bold;
	padding-bottom: 5px;
	background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.35s;
	text-decoration: none;
}

#head_menu a:hover {
	background-size: 100% 3px;
}
  
.about a {
	color: #0347a4;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	padding-bottom: 4px;
	background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.35s;
	text-decoration: none;
}

.about a:hover {
	background-size: 100% 3px;
}

.text {
	background-color: #0a376b;
	width: 70vw;
	height: 30px;
	border: 0px;
	margin-top: 2px;
	font-size: 15px;
	padding: 5px;
	color: white;
}

.textarea {
	background-color: #0a376b;
	width: 70vw;
	height: 150px;
	border: 0px;
	margin-top: 2px;
	font-size: 15px;
	padding: 5px;
	resize: none;
	margin-left: 70px;
	color: white;
	font-family: arial;
}

.btn {
	width: 90px;
	height: 30px;
	color: #93b4d8;
	background-color: #0a376b;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	left: 70px;
	position: relative;
	border: 0px solid #000;
}

.ref_name {
	background-color: #044281;
	color: white;
	padding: 10px;
	font-size: 18px;
	clear: both;
	margin-top: 15px;
	margin-left: 15px;
	width: auto;
	opacity: 1.0;
	font-weight: bold;
	display: none;
}

.ref_tech {
	background-color: #044281;
	color: white;
	padding: 10px;
	font-size: 12px;	
	clear: both;
	margin-left: 15px;
	margin-top: 2px;
	width: auto;
	opacity: 1.0;
	display: none;
}

.gotoright {
	font-size:21px;
	-moz-border-radius: 21px; 
	-webkit-border-radius: 21px; 
	border-radius: 21px;
	position: relative;
	width: 21px;
	height: 21px;
	background-color: #222;
	margin-bottom: 5px;
	text-align: center;
	top: 2px;
	left: 5px;
}

.prev_arrow {
	font-size:21px;
	-moz-border-radius: 21px; 
	-webkit-border-radius: 21px; 
	border-radius: 21px;
	position: relative;
	width: 21px;
	height: 21px;
	background-color: #222;
	margin-bottom: 5px;
	text-align: center;
	top: 2px;
	left: 5px;
}

@media (max-width: 1300px) {

	#ajaxresult {
		width: 85vw;
	}
	
	.pictures, .videos, .contact, .logos, .about {
		padding-top: 30px;
	}
	
	.ref0, .ref1, .ref2, .ref3, .ref4, .ref5, .ref6 {
		width: 48%;
		float: left;
	}
	
	.logo_imgs {
		padding-top: 30px;
	}

	h1 {
		text-transform: uppercase;
		font-size: 22px;
		margin: 0px;
		margin-top: -4px;
		letter-spacing: -2px;
		font-weight: 500;
	}

	h2 {
		font-size: 14px;
	}

	h3 {
		text-transform: uppercase;
		font-size: 22px;
		margin: 0px;
		margin-top: -10px;
		letter-spacing: -2px;
		font-weight: 600;
	}

}

@media (max-width: 1000px) {

	.social {
		width: 100%;
		height: 92px;
	}
	
	#big_icon {
		height: 60px; 
	}

	.wishlist {
		width: 180px; 
	}

	#hamburgermenu{
		display: block;
	}
	
	#head_menu a {
		font-size: 12px;
		margin-left: -2px;
	}

	#head_logo {
		margin-top: -5px;
		background-size: 180px auto;
		width: 100%;
	}	

	#head_menu {
		width: 100%;
		top: -36px;
		position: relative;
		float: left;
		clear: both;
		padding-top: 4px;
		text-align: left;
		display: none;
	}		

	.arrow_to_left {
		left: -4vw;
		top: 35px;
	}
	
	.arrow_to_right {
		left: 87vw;
		top: 35px;
	}

	#map_text {
		top: -20px;
		margin-bottom: -20px;
	}
		
	.ref_name {
		padding: 5px;
		font-size: 16px;
		margin-top: 5px;
		margin-left: 5px;
		width: auto;
		display: none;
	}
	
	.ref_tech {
		padding: 5px;
		font-size: 12px;	
		clear: left;
		margin-left: 5px;
		margin-top: 2px;
		width: auto;
		display: none;
	}
	
	.gotoright {
		font-size:21px;
		-moz-border-radius: 21px; 
		-webkit-border-radius: 21px; 
		border-radius: 21px;
		position: relative;
		width: 21px;
		height: 21px;
		background-color: #222;
		margin-bottom: 5px;
		text-align: center;
		top: 2px;
		left: 5px;
	}

	.about {
		top: -30px;
		position: relative;
		margin-bottom: -30px;
	}

	.textarea {
		width: 85vw;
		height: 120px;
		margin-left: 0px;
	}

	.text {
		width: 85vw;
		height: 35px;
	}

	.btn {
		height: 35px;
		left: 0px;
		position: relative;
	}

	.logo_img {
		max-width: 40%;
		clear: left;
	}

	.logo_img2 {
		max-width: 80%;
		clear: left;
	}

	.ref0, .ref1, .ref2, .ref3, .ref4, .ref5, .ref6 {
		width: 100%;
		height: 200px;
		clear: left;
		margin-top: 2px;
	}
		
	.row {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}


@media (max-width: 700px) {
	.social {
		width: 100%;
		height: 92px;
	}
	
	.wishlist {
		width: 180px; 
	}

	#big_icon {
		height: 60px; 
	}
	
	#yttrailer_out {
		width: 100%; 
	}

	#yttrailer {
		width: 320px; 
		height: 240px;
	}

}